/*
	@ Harris Christiansen (Harris@HarrisChristiansen.com)
	2016-09-18
	Project: HTML5 Boilerplate
*/

/* ------------------------ HTML/Body ------------------------- */

main {
	padding-top: 30px;
}

/* ------------------------ Buttons ------------------------- */

.btn-xl {
	padding: .75rem 1.5rem;
	font-size: 1.5rem;
	line-height: 1.5;
	border-radius: .4rem;
}

/* ------------------------ Tables ------------------------- */

.table-clickable tbody tr:hover {
	cursor: pointer;
}

/* ------------------------ End ------------------------- */
